# Calculating the Dates for Milestones  from the Google Sheet Used to Populate Them

- 09/16/21
- James M. Irving

# Goal

- To convert the curriculum template of base milestones into dataframes that are dynamically calculated based on launch data.

- To jump to the section using the completed functions, click [here](#workflow)

In [1]:
raise Exception('You may want to jump to the Full Workflow header linked above instead of running all.')

Exception: ignored

## Load in Data & Explore

In [32]:
from google.colab import auth
auth.authenticate_user()

import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())
# gsheet_name = 'JMI Copy of 2021-07-15 Flex Milestones Template'
gsheet_name = "2021-07-15 Flex Milestones Template"
file = gc.open(gsheet_name)
file

In [33]:
if len(file.worksheets())==1:
    worksheet = file.get_worksheet(0)
else:
    print(file.worksheets())
    val = input("select which sheet number to use")
    worksheet = file.get_worksheet(int(val))
worksheet

In [34]:

# get_all_values gives a list of rows.
rows = worksheet.get_all_values()

# Convert to a DataFrame and render.
import pandas as pd
df = pd.DataFrame.from_records(rows[2:],columns=rows[1])


display(df.info(),df.head())
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Week                     145 non-null    object
 1   Weekday                  145 non-null    object
 2   Day # (20wk)             145 non-null    object
 3   Canvas Topics            145 non-null    object
 4   Milestone                145 non-null    object
 5   Duration in Base (20wk)  145 non-null    object
 6   Duration in Base (40wk)  145 non-null    object
 7   Duration in Base (60wk)  145 non-null    object
 8   Checkpoints (Quizzes)    145 non-null    object
 9   Blog Posts               145 non-null    object
 10  Code Challenges          145 non-null    object
 11  Projects                 145 non-null    object
dtypes: object(12)
memory usage: 13.7+ KB

None

  Week    Weekday Day # (20wk)  ... Blog Posts Code Challenges Projects
0    1     Monday            0  ...
1    1    Tuesday            1  ...
2    1  Wednesday            2  ...
3    1   Thursday            3  ...
4    1     Friday            4  ...

[5 rows x 12 columns]

Index(['Week', 'Weekday', 'Day # (20wk)', 'Canvas Topics', 'Milestone',
       'Duration in Base (20wk)', 'Duration in Base (40wk)',
       'Duration in Base (60wk)', 'Checkpoints (Quizzes)', 'Blog Posts',
       'Code Challenges', 'Projects'],
      dtype='object')

### Cleaning data

In [35]:
## rename day # and remove total rows
df = df.rename({'Day # (20wk)':'Day #'},axis=1)
df = df.loc[ ~df['Day #'].str.contains('total',case=False)]
df

    Week    Weekday Day #  ... Blog Posts Code Challenges                 Projects
0      1     Monday     0  ...
1      1    Tuesday     1  ...
2      1  Wednesday     2  ...
3      1   Thursday     3  ...
4      1     Friday     4  ...
..   ...        ...   ...  ...        ...             ...                      ...
139   20  Wednesday   135  ...
140   20   Thursday   136  ...
141   20     Friday   137  ...                             Capstone Project Review
142   20   Saturday   138  ...
143   20     Sunday   139  ...

[140 rows x 12 columns]

In [36]:
## saving lists of columns to keep (and to recast as numeric)
duration_cols =  [c for c in df.columns if 'duration' in c.lower()]
info_cols = ['Day #', 'Milestone']

cols_to_keep =info_cols +duration_cols

## saving needed cols
df = df[cols_to_keep]
df

    Day #  ... Duration in Base (60wk)
0       0  ...                       0
1       1  ...                       0
2       2  ...                       0
3       3  ...                      12
4       4  ...                       0
..    ...  ...                     ...
139   135  ...                       0
140   136  ...                       0
141   137  ...                      33
142   138  ...                       0
143   139  ...                       6

[140 rows x 5 columns]

In [37]:
## convert to numeric 
for col in duration_cols:
    df[col] = pd.to_numeric(df[col])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 140 entries, 0 to 143
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Day #                    140 non-null    object
 1   Milestone                140 non-null    object
 2   Duration in Base (20wk)  140 non-null    int64
 3   Duration in Base (40wk)  140 non-null    int64
 4   Duration in Base (60wk)  140 non-null    int64
dtypes: int64(3), object(2)
memory usage: 6.6+ KB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [38]:
# df.insert(0,'Start Date',pd.to_datetime('08-09-2021'))
# df

In [39]:
df['Duration in Base (20wk)']

0       0
1       0
2       0
3       4
4       0
       ..
139     0
140     0
141    11
142     0
143     2
Name: Duration in Base (20wk), Length: 140, dtype: int64

### Approach
- I need to use the Duration Columns to be able to calcualte the date of each milestone. 

- Try:
    - Removing every row that isn't a milestone, 
    - Create cumulative sum columns 
    - Use start date + cumulative sums to calcualte milestone dates

In [40]:
df

    Day #  ... Duration in Base (60wk)
0       0  ...                       0
1       1  ...                       0
2       2  ...                       0
3       3  ...                      12
4       4  ...                       0
..    ...  ...                     ...
139   135  ...                       0
140   136  ...                       0
141   137  ...                      33
142   138  ...                       0
143   139  ...                       6

[140 rows x 5 columns]

In [41]:
miles = df[ df['Duration in Base (20wk)']!=0].copy()
miles

    Day #  ... Duration in Base (60wk)
3       3  ...                      12
8       8  ...                      15
10     10  ...                       6
14     14  ...                      12
16     16  ...                       6
25     25  ...                      27
27     27  ...                       6
36     35  ...                      24
38     37  ...                       6
45     44  ...                      21
47     46  ...                       6
54     53  ...                      21
56     55  ...                       6
61     59  ...                      12
66     64  ...                      15
72     70  ...                      18
83     81  ...                      33
85     83  ...                       6
88     85  ...                       6
90     87  ...                       6
96     93  ...                      18
98     95  ...                       6
112   109  ...                      42
114   111  ...                       6
123   119  ...                      24
130   126  ...                      21
141   137  ...                      33
143   139  ...                       6

[28 rows x 5 columns]

In [42]:
## Convert Duration Columns into New Cumulative Duration cols
cumul_cols = []
for col in duration_cols:
    new_col = f"Cumulative {col.replace('in Base ','')}"
    miles[new_col] = miles[col].cumsum()
    cumul_cols.append(new_col)

miles

    Day #  ... Cumulative Duration (60wk)
3       3  ...                         12
8       8  ...                         27
10     10  ...                         33
14     14  ...                         45
16     16  ...                         51
25     25  ...                         78
27     27  ...                         84
36     35  ...                        108
38     37  ...                        114
45     44  ...                        135
47     46  ...                        141
54     53  ...                        162
56     55  ...                        168
61     59  ...                        180
66     64  ...                        195
72     70  ...                        213
83     81  ...                        246
85     83  ...                        252
88     85  ...                        258
90     87  ...                        264
96     93  ...                        282
98     95  ...                        288
112   109  ...                        330
114   111  ...                        336
123   119  ...                        360
130   126  ...                        381
141   137  ...                        414
143   139  ...                        420

[28 rows x 8 columns]

In [43]:
start_date = pd.to_datetime('08-09-2021')
print(start_date)

2021-08-09 00:00:00

In [44]:
col = cumul_cols[0]
col

'Cumulative Duration (20wk)'

In [45]:
pace = col.split('(')[-1].split(')')[0]
pace

'20wk'

In [46]:
## create milestone date cols
for col in cumul_cols:
    pace = col.split('(')[-1].split(')')[0] 
    miles[f"Milestone Date ({pace})"] = miles[col].map( lambda x: start_date + pd.Timedelta(f"{x} days"))

miles

    Day #  ... Milestone Date (60wk)
3       3  ...            2021-08-21
8       8  ...            2021-09-05
10     10  ...            2021-09-11
14     14  ...            2021-09-23
16     16  ...            2021-09-29
25     25  ...            2021-10-26
27     27  ...            2021-11-01
36     35  ...            2021-11-25
38     37  ...            2021-12-01
45     44  ...            2021-12-22
47     46  ...            2021-12-28
54     53  ...            2022-01-18
56     55  ...            2022-01-24
61     59  ...            2022-02-05
66     64  ...            2022-02-20
72     70  ...            2022-03-10
83     81  ...            2022-04-12
85     83  ...            2022-04-18
88     85  ...            2022-04-24
90     87  ...            2022-04-30
96     93  ...            2022-05-18
98     95  ...            2022-05-24
112   109  ...            2022-07-05
114   111  ...            2022-07-11
123   119  ...            2022-08-04
130   126  ...            2022-08-25
141   137  ...            2022-09-27
143   139  ...            2022-10-03

[28 rows x 11 columns]

In [47]:
df_final = miles[[c for c in miles.columns if "milestone" in c.lower()]].copy()
df_final.reset_index(drop=True,inplace=True)
df_final

                                            Milestone  ... Milestone Date (60wk)
0   Topic 3: Data Serialization Formats - Cumulati...  ...            2021-08-21
1           Topic 4: EDA with Pandas - Cumulative Lab  ...            2021-09-05
2      Topic 5: Pandas Data Cleaning - Cumulative Lab  ...            2021-09-11
3                       Topic 7: SQL - Cumulative Lab  ...            2021-09-23
4                      Topic 9: APIs - Cumulative Lab  ...            2021-09-29
5                                     Phase 1 Project  ...            2021-10-26
6                                   Phase 1 Blog Post  ...            2021-11-01
7       Topic 15: Hypothesis Testing - Cumulative Lab  ...            2021-11-25
8      Topic 16: Website A/B Testing - Cumulative Lab  ...            2021-12-01
9   Topic 19: Preprocessing with scikit-learn - Cu...  ...            2021-12-22
10       Topic 20: Linear Regression - Cumulative Lab  ...            2021-12-28
11                                    Phase 2 Project  ...            2022-01-18
12                                  Phase 2 Blog Post  ...            2022-01-24
13  Topic 24: Machine Learning Fundamentals - Cumu...  ...            2022-02-05
14     Topic 26: Logistic Regression - Cumulative Lab  ...            2022-02-20
15  Topic 29: Nonparametric ML Models - Cumulative...  ...            2022-03-10
16                                    Phase 3 Project  ...            2022-04-12
17                                  Phase 3 Blog Post  ...            2022-04-18
18  Topic 33: Dimensionality Reduction - Cumulativ...  ...            2022-04-24
19  Topic 34: Market Segmentation with Clustering ...  ...            2022-04-30
20         Topic 38: ARMA Models in Statsmodels - Lab  ...            2022-05-18
21     Topic 39: Text Classification - Cumulative Lab  ...            2022-05-24
22                                    Phase 4 Project  ...            2022-07-05
23                                  Phase 4 Blog Post  ...            2022-07-11
24  Capstone Topic Decision and Data Gathering Dea...  ...            2022-08-04
25                              Capstone MVP Deadline  ...            2022-08-25
26                            Capstone Project Review  ...            2022-09-27
27                            Final Capstone Deadline  ...            2022-10-03

[28 rows x 4 columns]

### Functionizing Process

# Full Workflow <a name="workflow"></a>

In [48]:
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

In [49]:
import pandas as pd

def open_sheet(gsheet_name = "2021-07-15 Flex Milestones Template"):

    file = gc.open(gsheet_name)

    ## load specific sheet 
    if len(file.worksheets())==1:
        worksheet = file.get_worksheet(0)
    else:
        print(file.worksheets())
        val = input("select which sheet number to use")
        worksheet = file.get_worksheet(int(val))

    # get_all_values gives a list of rows.
    rows = worksheet.get_all_values()

    # Convert to a DataFrame and render.
    import pandas as pd
    df = pd.DataFrame.from_records(rows[2:],columns=rows[1])

    return df


    
def get_miles_df(df,drop_cols=True):
    df = df.copy()
    ## rename day # and remove total rows
    df = df.rename({'Day # (20wk)':'Day #'},axis=1)
    df = df.loc[ ~df['Day #'].str.contains('total',case=False)]


    ## saving lists of columns to keep (and to recast as numeric)
    duration_cols =  [c for c in df.columns if 'duration' in c.lower()]
    info_cols = ['Milestone']

    if drop_cols==True:
        cols_to_keep =info_cols +duration_cols

        ## saving needed cols
        df = df[cols_to_keep]
    

        ## convert to numeric 
    for col in duration_cols:
        df[col] = pd.to_numeric(df[col])


    miles = df[ df['Duration in Base (20wk)']!=0].copy()
    ## Calculate cumulative cols
    cumul_cols = []
    for col in duration_cols:
        new_col = f"Cumulative {col.replace('in Base ','')}"
        miles[new_col] = miles[col].cumsum()
        cumul_cols.append(new_col)


    miles = miles.reset_index(drop=True)
    miles.index = miles.index+1

    return miles




def calc_milestone_dates(miles, start='08-09-2021'):
    miles = miles.copy()
    duration_cols =  [c for c in miles.columns if 'duration' in c.lower()]    
    start_date = pd.to_datetime(start)
    cumul_cols = [c for c in miles.columns if 'cumulative' in c.lower()]

        
    ## create milestone date cols
    for col in cumul_cols:
        pace = col.split('(')[-1].split(')')[0] 
        miles[f"Milestone Date ({pace})"] = miles[col].map( lambda x: start_date + pd.Timedelta(f"{x} days"))


    df_final = miles[[c for c in miles.columns if "milestone" in c.lower()]].copy()

    ## Setting the index as the milestone #
    df_final = df_final.reset_index(drop=True)
    df_final.index = df_final.index+1

    ## insert start date

    start_row = pd.Series({'Milestone':	'Start Date' ,
                       "Milestone Date (20wk)":start_date,
           "Milestone Date (40wk)":start_date,
           "Milestone Date (60wk)":start_date})

    df_final.loc[0] = start_row
    # df_final
    return df_final.sort_index()

In [50]:
## Get data 
df = open_sheet()
miles = get_miles_df(df,drop_cols=True)
miles.head(2)

                                           Milestone  ...  Cumulative Duration (60wk)
1  Topic 3: Data Serialization Formats - Cumulati...  ...                          12
2          Topic 4: EDA with Pandas - Cumulative Lab  ...                          27

[2 rows x 7 columns]

In [51]:
## Calaculate Milestones
milestones = calc_milestone_dates(miles, start='08-30-21')
milestones

                                            Milestone  ... Milestone Date (60wk)
0                                          Start Date  ...            2021-08-30
1   Topic 3: Data Serialization Formats - Cumulati...  ...            2021-09-11
2           Topic 4: EDA with Pandas - Cumulative Lab  ...            2021-09-26
3      Topic 5: Pandas Data Cleaning - Cumulative Lab  ...            2021-10-02
4                       Topic 7: SQL - Cumulative Lab  ...            2021-10-14
5                      Topic 9: APIs - Cumulative Lab  ...            2021-10-20
6                                     Phase 1 Project  ...            2021-11-16
7                                   Phase 1 Blog Post  ...            2021-11-22
8       Topic 15: Hypothesis Testing - Cumulative Lab  ...            2021-12-16
9      Topic 16: Website A/B Testing - Cumulative Lab  ...            2021-12-22
10  Topic 19: Preprocessing with scikit-learn - Cu...  ...            2022-01-12
11       Topic 20: Linear Regression - Cumulative Lab  ...            2022-01-18
12                                    Phase 2 Project  ...            2022-02-08
13                                  Phase 2 Blog Post  ...            2022-02-14
14  Topic 24: Machine Learning Fundamentals - Cumu...  ...            2022-02-26
15     Topic 26: Logistic Regression - Cumulative Lab  ...            2022-03-13
16  Topic 29: Nonparametric ML Models - Cumulative...  ...            2022-03-31
17                                    Phase 3 Project  ...            2022-05-03
18                                  Phase 3 Blog Post  ...            2022-05-09
19  Topic 33: Dimensionality Reduction - Cumulativ...  ...            2022-05-15
20  Topic 34: Market Segmentation with Clustering ...  ...            2022-05-21
21         Topic 38: ARMA Models in Statsmodels - Lab  ...            2022-06-08
22     Topic 39: Text Classification - Cumulative Lab  ...            2022-06-14
23                                    Phase 4 Project  ...            2022-07-26
24                                  Phase 4 Blog Post  ...            2022-08-01
25  Capstone Topic Decision and Data Gathering Dea...  ...            2022-08-25
26                              Capstone MVP Deadline  ...            2022-09-15
27                            Capstone Project Review  ...            2022-10-18
28                            Final Capstone Deadline  ...            2022-10-24

[29 rows x 4 columns]

### Looping through launch dates

In [52]:
## getting llaunch dates through 2022
launch_dates_range = pd.date_range(start='07-19-21',freq='3W-MON',periods=26)
launch_dates_range

DatetimeIndex(['2021-07-19', '2021-08-09', '2021-08-30', '2021-09-20',
               '2021-10-11', '2021-11-01', '2021-11-22', '2021-12-13',
               '2022-01-03', '2022-01-24', '2022-02-14', '2022-03-07',
               '2022-03-28', '2022-04-18', '2022-05-09', '2022-05-30',
               '2022-06-20', '2022-07-11', '2022-08-01', '2022-08-22',
               '2022-09-12', '2022-10-03', '2022-10-24', '2022-11-14',
               '2022-12-05', '2022-12-26'],
              dtype='datetime64[ns]', freq='3W-MON')

In [53]:
## Loop through launch dates to calculate milestones and save in dictionary
MILESTONES = {}
for launch in launch_dates_range:

    launch_str = launch.strftime('%m-%d-%y')
    # fname = save_fpath+f"flex-milestone-dates-{launch_str}-launch.csv"

    temp_df = calc_milestone_dates(miles, start=launch_str)
    MILESTONES[launch_str] = temp_df.copy()
    # temp_df.to_csv(fname,index=False)

## Saving Files

- First, just exporting a different csv for each launch date and using those in student meetings could be sufficient.

### Mount GDrive, Specify Folder

In [54]:
## Mount google drive to save excel
from google.colab import drive
import os



gdrive_path='gdrive/'
drive.mount(gdrive_path)


## Make folder for saving the csv documents
flex_folder = os.path.join(gdrive_path,"My Drive/",'Misc Documents/')
save_fpath = os.path.join(flex_folder,'Flex Milestone Dates - by Launch/')
os.makedirs(save_fpath,exist_ok=True)
print(save_fpath)

Drive already mounted at gdrive/; to attempt to forcibly remount, call drive.mount("gdrive/", force_remount=True).
gdrive/My Drive/Misc Documents/Flex Milestone Dates - by Launch/

In [55]:
## save files
def save_milestones(MILESTONES, save_fpath=None,save_as_excel = True,verbose=True):
    if save_fpath is None:
        save_fpath  = './'

    if save_as_excel == True:
        ## save to excel file as separate sheets
        excel_fname = save_fpath+'flex-milestones-by-launch-date.xlsx'
        # print(excel_fname)
        with pd.ExcelWriter(excel_fname,
                            datetime_format='mm-dd-yy',
                            date_format='mm-dd-yy') as writer:

            for launch_str, temp_df in MILESTONES.items():
                temp_df.to_excel(writer,sheet_name=launch_str,index=False)

        if verbose: print(f'\n[i] Milestones saved as "{excel_fname}".')


    else:

        if verbose: print(f'\n[i] Saving milestones as individualcsvs in {save_fpath}:')
        for launch_str, temp_df in MILESTONES.items():
                fname = save_fpath+f"flex-milestone-dates-{launch_str}-launch.csv"
                temp_df.to_csv(fname,index=False)
                if verbose: print(f"   - {fname.replace(save_fpath,'')}")

In [56]:
save_milestones(MILESTONES,save_fpath, save_as_excel=True)
save_milestones(MILESTONES,save_fpath, save_as_excel=False,verbose=False)

[i] Milestones saved as "gdrive/My Drive/Misc Documents/Flex Milestone Dates - by Launch/flex-milestones-by-launch-date.xlsx".

- While the function to calculate milestones is great and all, it doesn't fit into our one on one workflow. 
- I would like to export a sheet that is ready for a Google-Sheets calculator page.

In [29]:
save_fpath

'gdrive/My Drive/Misc Documents/Flex Milestone Dates - by Launch/'

In [31]:
## Save a cumulative duration csv without dates
df = open_sheet()
miles = get_miles_df(df,drop_cols=True)

## Fix Index
miles.index.name = '#'
miles.reset_index(inplace=True,drop=False)
miles.to_csv(save_fpath+'Flex Milestones Durations - Cumulative.csv',index=False)
miles

     #  ... Cumulative Duration (60wk)
0    1  ...                         12
1    2  ...                         27
2    3  ...                         33
3    4  ...                         45
4    5  ...                         51
5    6  ...                         78
6    7  ...                         84
7    8  ...                        108
8    9  ...                        114
9   10  ...                        135
10  11  ...                        141
11  12  ...                        162
12  13  ...                        168
13  14  ...                        180
14  15  ...                        195
15  16  ...                        213
16  17  ...                        246
17  18  ...                        252
18  19  ...                        258
19  20  ...                        264
20  21  ...                        282
21  22  ...                        288
22  23  ...                        330
23  24  ...                        336
24  25  ...                        360
25  26  ...                        381
26  27  ...                        414
27  28  ...                        420

[28 rows x 8 columns]