# Programmatically Generating Flex Weekly Check-In Message - Final

- Goal is to be able to generate (mostly) pre-filled messages to students based 
upon their milestone progress. 

>- Note: this is a cleaned-up version of [the original WIP notebook](https://colab.research.google.com/drive/19I8iK7f7AuzEfmL_5JdNbdvfGgZyGVBx?usp=sharing).

## Imports and Functions

In [16]:
# !pip install -U fsds
# from fsds.imports import *

import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

import datetime as dt

from google.colab import files

def get_student_milestones(df, student_name, as_dates=False,verbose=False,
                           drop_columns=['Instructor', 'Learn UUID',
                                         'First Name','Last Name','Current Pacing In Weeks']):
    
    ## Get student data
    if df['Full Name'].isin([student_name]).any():
        student_full = df.loc[ df["Full Name"] == student_name].copy()
    else:
        if verbose: print(f'Exact match not found for "{student_name}"", using a partial match.')
        student_full = df.loc[ df["Full Name"].str.contains(student_name)].copy()


    ## Set the correct index based on as_dates
    if as_dates:
        milestones = student_full.set_index('Due Date').sort_index()
    else:
        milestones = student_full.set_index(['Full Name','Ordinality']).sort_index()
        
  
    # Sorting through all milestones to generate milestone report
    drop_cols = [c for c in milestones.columns if "Last" in c]
    drop_cols.extend(drop_columns)
    
    return milestones.drop(columns=drop_cols)
    



def get_milestone_report(df,student_name,
                         report_cols = ['Ordinality','Milestone Name',
                                        'Due Date','Completed Date',
                                        'Milestone on Timeness'],verbose=True):
    
    ## Get single row for summary/personal info
    try:
        student = df.loc[ df["Full Name"] == student_name].iloc[0].copy()
    except:
        if verbose: print(f'[!] Exact match not found for "{student_name}", using a partial match instead.')
        student = df.loc[ df["Full Name"].str.contains(student_name)].iloc[0].copy()

    ## Get the milestones as dates
    mstones_ts = get_student_milestones(df,student_name=student_name,
                                        as_dates=True)
    mstones_ts.rename({'Ordinality':'Milestone #'},inplace=True,axis=1)
    

    ## Get last and next
    last_mstone= mstones_ts.loc[mstones_ts['Completed Date'].notnull()].tail(1).copy()
    next_mstone= mstones_ts.loc[mstones_ts['Completed Date'].isnull()].head(1).copy()

    ## Use today to slice out milestones
    today = dt.date.today()
    before_today = mstones_ts.loc[:today].copy()

    ## get past-due
    past_due = before_today.loc[before_today['Completed Date'].isna()].copy()#, 
                                # ['Ordinality','Milestone Name','Milestone on Timeness']].copy()
    ## Generate report df
    report_df = pd.concat({'last':last_mstone.reset_index().set_index('Milestone #'),
                           'next':next_mstone.reset_index().set_index('Milestone #'),
                           'past_due':past_due.reset_index().set_index('Milestone #')})
    
    report_df.drop(columns=['Full Name'],inplace=True)


    # report_df.set_index('Milestone #',inplace=True)
    # report = {'student':student_name,
    #         'milestones':mstones_ts,
    #           'before_today':before_today.reset_index(),
    #           'last':last_mstone.reset_index(),
    #           'next':next_mstone.reset_index(),
    #           'past_due':past_due.reset_index()}
        
    results = {'Full Name':student['Full Name'],
               'First Name':student['First Name'],
               'pace':student["Current Pacing In Weeks"],
               'instructor':student['Instructor'],
               'id':student['Learn UUID'],
               'milestones':mstones_ts,
            # 'milestones':mstones_ts,
            'report':report_df }
                                
    return results





def generate_detailed_message(df,student_name, unique_q = "I was wondering what topics are you planning on tackling this week?",
                        print_ =False,error = False):
    """Generates a weekly check-in message when applied across rows.
    
    Example Usage:
    >> df.apply(generate_message,axis=1)"""
    
    report = get_milestone_report(df,student_name)


    # student_full = df.loc[ df["Full Name"] == student_name].copy()
    # student = student_full.iloc[0].copy()

    # ## Calculating last completed milestones
    # last_df = df.set_index('Completed Date').sort_index()
    # last_df = last_df.groupby('Full Name').last()

    # student_last_mstone = last_df.loc[ student['Full Name']]

    ## SAVING MESSAGE COMPONENTS
    import datetime as dt
    today_date = dt.datetime.today()

    ## get day name
    day_of_week = today_date.strftime("%A")

    ## Get 1=Monday version of weekday
    if today_date.isoweekday() <= 2:
        greeting_q = "How was your weekend?"
    else:
        greeting_q = "How is your week going so far?"


    ## Format unique q
    unique_q = unique_q[0].lower() + unique_q[1:]
    if unique_q[:2] == 'i ':
        unique_q = unique_q.capitalize()

    report_reset = report['report'].reset_index(level=1)
    
    try:

        message = \
f"""Hey {report['First Name']},
:sunrise: Happy {day_of_week}!:sun-happy:

I just wanted to check in with you and see how everything is going. {greeting_q}

- Also, {unique_q}

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your {report['pace']}-week pace:
    - Your Last Milestone completed was:
        - {report_reset.loc['last','Milestone Name']}, which you completed {report_reset.loc['last','Milestone on Timeness']}.

    - Your next milestone is to complete:
        {report_reset.loc['next','Milestone Name']} by {report_reset.loc['next','Due Date'].strftime('%m-%d-%Y')}

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired {report['pace']}-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!
"""
    except Exception as e:
        if error:
            msg = f"Error when processing {student_name}:\n"+e
            raise Exception(e)
        message = \
f"""Hey {report['First Name']},
:sunrise: Happy {day_of_week}!:sun-happy:

I just wanted to check in with you and see how everything is going. {greeting_q}

- Also, {unique_q}

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your {report['pace']}-week pace:

    - Your next milestone is to complete:
        {report_reset.loc['next','Milestone Name']} by {report_reset.loc['next','Due Date'].strftime('%m-%d-%Y')}

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired {report['pace']}-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!
""" 
    
    if print:

        print('---'*20)
        print(report['Full Name'])#['First Name'] + " " + student["Last Name"])

        id = report["id"]
        mstone_url = f"https://guide.flatironschool.com/students/{id}/milestones"
        notes_url = f"https://guide.flatironschool.com/students/{id}/notes"

        print(notes_url)
        print()
        print(message)
        display(report['report'])
        # print('\n'*2)

    else:
        return message

## Download Looker Data and Load into Colab

- Go to the [Student Milestones Look](https://flatiron.looker.com/looks/1071?toggle=fil,pik)
    - change instructor filter to your name.
    - Click `Run`
    - Click on Gear Icon -> Download
    - Save as CSV with the folloowing options:
        - [ ] **As Displayed in Table**
        - [ ] Formatted
        - [ ] All results
        - Click Download.

    - Upload the file below.

In [17]:

## Upload milestones .csv
uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))
  

## load csv as df
if len(uploaded) == 1:
    df = pd.read_csv(list(uploaded.keys())[0])
    # display(df.head(2))
else:
    raise Exception('Uploading multiple csvs is not currently built into workflow.')



## Clean up the column names 
base_header = "Base - Milestones and Paces"
df.columns = [c.replace('[Students] ','').replace(base_header,'').strip() for c in df.columns]

## convert to datetime
date_cols = ['Due Date','Completed Date',
             'Last Milestone Completed Date',
             'Most Recent Cohort Start Date']

for col in date_cols:
    try:
        df[col] = pd.to_datetime(df[col])
    except:
        print(f"[!] {col} not found")

## saving original df before manipulations
df_orig = df.copy()
df

Saving Student Milestones 2021-10-25T1135.csv to Student Milestones 2021-10-25T1135 (1).csv
User uploaded file "Student Milestones 2021-10-25T1135.csv" with length 129761 bytes

       Instructor  ... Timeliness of Last Completed Milestone
0    James Irving  ...                 6 days behind schedule
1    James Irving  ...                 6 days behind schedule
2    James Irving  ...                13 days behind schedule
3    James Irving  ...                12 days behind schedule
4    James Irving  ...                10 days behind schedule
..            ...  ...                                    ...
723  James Irving  ...                                    NaN
724  James Irving  ...                                    NaN
725  James Irving  ...                                    NaN
726  James Irving  ...                                    NaN
727  James Irving  ...                                    NaN

[728 rows x 15 columns]

# Selecting Students

### Filtering Students by Start

In [18]:
## get students by start date
student_starts = df_orig.groupby('Full Name').last()['Most Recent Cohort Start Date']
student_starts.sort_values()

Full Name
Alexander Casey         2021-07-19
Austin Towery           2021-07-19
Colm yeh                2021-07-19
Daniel Ross-Leutwyler   2021-07-19
Jim Petoskey            2021-08-09
Robert Cauvy            2021-08-09
Morgan Didjurgis        2021-08-09
Kregg Jackson           2021-08-09
Donica Miller           2021-08-09
Ferdinand Beaman        2021-08-09
Freddy Abrahamson       2021-08-09
James Pheby             2021-08-09
Samuel Oliver           2021-08-09
Alec Hing               2021-08-30
Claudia Tsai            2021-08-30
Andrew Martinez         2021-08-30
Alex Liang              2021-08-30
Louis Casanave          2021-09-20
Matthew Noonan          2021-09-20
Nick Winokur            2021-09-20
Noor Syed               2021-09-20
Kevin Culver            2021-09-20
Maliha Momtaj           2021-10-11
Monique Hercules        2021-10-11
Ryan Sajac              2021-10-11
Simran Kaur             2021-10-11
Name: Most Recent Cohort Start Date, dtype: datetime64[ns]

In [19]:
# all start dates present
start_dates_unique = student_starts.dt.strftime('%m-%d-%Y').unique()
start_dates_unique

array(['08-30-2021', '07-19-2021', '08-09-2021', '09-20-2021',
       '10-11-2021'], dtype=object)

In [20]:
## Use this cell to determine the subset of students to process
# START_DATES_TO_USE = ['08-09-2021']
START_DATES_TO_USE = start_dates_unique

# students_to_msg = list(df['Full Name'].unique())
students_to_msg = student_starts[student_starts.isin(START_DATES_TO_USE)].index
students_to_msg

Index(['Alec Hing', 'Alex Liang', 'Alexander Casey', 'Andrew Martinez',
       'Austin Towery', 'Claudia Tsai', 'Colm yeh', 'Daniel Ross-Leutwyler',
       'Donica Miller', 'Ferdinand Beaman', 'Freddy Abrahamson', 'James Pheby',
       'Jim Petoskey', 'Kevin Culver', 'Kregg Jackson', 'Louis Casanave',
       'Maliha Momtaj', 'Matthew Noonan', 'Monique Hercules',
       'Morgan Didjurgis', 'Nick Winokur', 'Noor Syed', 'Robert Cauvy',
       'Ryan Sajac', 'Samuel Oliver', 'Simran Kaur'],
      dtype='object', name='Full Name')

### Filtering Students by Pace

In [21]:
## Student Names in dataset
students_included = list(df['Full Name'].unique())

## Save list of student_paces to use to select students to 
student_paces = df.groupby('Full Name').last()['Current Pacing In Weeks']
# student_paces
student_paces#.head(5)

Full Name
Alec Hing                40
Alex Liang               60
Alexander Casey          20
Andrew Martinez          60
Austin Towery            60
Claudia Tsai             60
Colm yeh                 40
Daniel Ross-Leutwyler    20
Donica Miller            60
Ferdinand Beaman         60
Freddy Abrahamson        40
James Pheby              40
Jim Petoskey             20
Kevin Culver             40
Kregg Jackson            60
Louis Casanave           40
Maliha Momtaj            40
Matthew Noonan           40
Monique Hercules         20
Morgan Didjurgis         40
Nick Winokur             40
Noor Syed                40
Robert Cauvy             40
Ryan Sajac               20
Samuel Oliver            20
Simran Kaur              60
Name: Current Pacing In Weeks, dtype: int64

In [22]:
## Use this cell to determine the subset of students to process
PACES_TO_USE = [20,40,60]

# students_to_msg = list(df['Full Name'].unique())
students_to_msg = student_paces[student_paces.isin(PACES_TO_USE)].index
students_to_msg

Index(['Alec Hing', 'Alex Liang', 'Alexander Casey', 'Andrew Martinez',
       'Austin Towery', 'Claudia Tsai', 'Colm yeh', 'Daniel Ross-Leutwyler',
       'Donica Miller', 'Ferdinand Beaman', 'Freddy Abrahamson', 'James Pheby',
       'Jim Petoskey', 'Kevin Culver', 'Kregg Jackson', 'Louis Casanave',
       'Maliha Momtaj', 'Matthew Noonan', 'Monique Hercules',
       'Morgan Didjurgis', 'Nick Winokur', 'Noor Syed', 'Robert Cauvy',
       'Ryan Sajac', 'Samuel Oliver', 'Simran Kaur'],
      dtype='object', name='Full Name')

# Producing Reports/Messages for Selected Students.

### Interactive Dropdown

In [23]:
# set final df and list of students_to_msg
df = df_orig.drop(columns="Most Recent Cohort Start Date")
print(students_to_msg)
df.head(2)

Index(['Alec Hing', 'Alex Liang', 'Alexander Casey', 'Andrew Martinez',
       'Austin Towery', 'Claudia Tsai', 'Colm yeh', 'Daniel Ross-Leutwyler',
       'Donica Miller', 'Ferdinand Beaman', 'Freddy Abrahamson', 'James Pheby',
       'Jim Petoskey', 'Kevin Culver', 'Kregg Jackson', 'Louis Casanave',
       'Maliha Momtaj', 'Matthew Noonan', 'Monique Hercules',
       'Morgan Didjurgis', 'Nick Winokur', 'Noor Syed', 'Robert Cauvy',
       'Ryan Sajac', 'Samuel Oliver', 'Simran Kaur'],
      dtype='object', name='Full Name')

     Instructor  ... Timeliness of Last Completed Milestone
0  James Irving  ...                 6 days behind schedule
1  James Irving  ...                 6 days behind schedule

[2 rows x 14 columns]

In [24]:
from ipywidgets import interact, interactive_output

@interact
def get_student_report_interactive(student = students_to_msg, just_milestones=True):

    if just_milestones:
            res = get_milestone_report(df, student)['milestones']
            res = res.set_index(['Full Name','Milestone #'])
            display(res.style.set_caption(student))
    else:
        generate_detailed_message(df_to_use,student,error=False)

interactive(children=(Dropdown(description='student', options=('Alec Hing', 'Alex Liang', 'Alexander Casey', '…

### Looping through all students

In [25]:
## Process all students
error = []
for i,student in enumerate(students_to_msg):
    generate_detailed_message(df,student,error=False)

    try:
        generate_detailed_message(df,student,error=True)

    except:
        print(f'\n\n[!] Problem with {student}\n\n')
        error.append(student)
        
    finally:
        print(f'\t student # {i+1} / {len(students_to_msg)}')
        print('\n'*2)

print("Students that error'd:")
[print(f'- {student}') for student in error];

------------------------------------------------------------
Alec Hing
https://guide.flatironschool.com/students/f7734eb5-4486-4402-b600-7a567504a56d/notes

Hey Alec,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 40-week pace:
    - Your Last Milestone completed was:
        - Topic 9: APIs - Cumulative Lab, which you completed 10 days behind schedule.

    - Your next milestone is to complete:
        Phase 1 Project by 10-21-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 40-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     5           2021-10-03  ...  10 days behind schedule
next     6           2021-10-21  ...   4 days behind schedule
past_due 6           2021-10-21  ...   4 days behind schedule
         7           2021-10-25  ...                due today

[4 rows x 4 columns]

------------------------------------------------------------
Alec Hing
https://guide.flatironschool.com/students/f7734eb5-4486-4402-b600-7a567504a56d/notes

Hey Alec,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 40-week pace:
    - Your Last Milestone completed was:
        - Topic 9: APIs - Cumulative Lab, which you completed 10 days behind schedule.

    - Your next milestone is to complete:
        Phase 1 Project by 10-21-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 40-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     5           2021-10-03  ...  10 days behind schedule
next     6           2021-10-21  ...   4 days behind schedule
past_due 6           2021-10-21  ...   4 days behind schedule
         7           2021-10-25  ...                due today

[4 rows x 4 columns]

	 student # 1 / 26



------------------------------------------------------------
Alex Liang
https://guide.flatironschool.com/students/879b0696-9eeb-42c2-9efd-e0e79dbfa3c9/notes

Hey Alex,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 60-week pace:
    - Your Last Milestone completed was:
        - Topic 9: APIs - Cumulative Lab, which you completed on time.

    - Your next milestone is to complete:
        Phase 1 Project by 11-16-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 60-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                   Due Date  ... Milestone on Timeness
     Milestone #             ...
last 5           2021-10-20  ...               on time
next 6           2021-11-16  ...        due in 22 days

[2 rows x 4 columns]

------------------------------------------------------------
Alex Liang
https://guide.flatironschool.com/students/879b0696-9eeb-42c2-9efd-e0e79dbfa3c9/notes

Hey Alex,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 60-week pace:
    - Your Last Milestone completed was:
        - Topic 9: APIs - Cumulative Lab, which you completed on time.

    - Your next milestone is to complete:
        Phase 1 Project by 11-16-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 60-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                   Due Date  ... Milestone on Timeness
     Milestone #             ...
last 5           2021-10-20  ...               on time
next 6           2021-11-16  ...        due in 22 days

[2 rows x 4 columns]

	 student # 2 / 26



------------------------------------------------------------
Alexander Casey
https://guide.flatironschool.com/students/9ae923c4-810f-48a2-acda-d6a663a8bae0/notes

Hey Alexander,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 20-week pace:
    - Your Last Milestone completed was:
        - Topic 29: Nonparametric ML Models - Cumulative Lab, which you completed 1 days behind schedule.

    - Your next milestone is to complete:
        Phase 3 Project by 10-09-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 20-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     16          2021-09-28  ...   1 days behind schedule
next     17          2021-10-09  ...  16 days behind schedule
past_due 17          2021-10-09  ...  16 days behind schedule
         18          2021-10-11  ...  14 days behind schedule
         19          2021-10-13  ...  12 days behind schedule
         20          2021-10-15  ...  10 days behind schedule
         21          2021-10-21  ...   4 days behind schedule
         22          2021-10-23  ...   2 days behind schedule

[8 rows x 4 columns]

------------------------------------------------------------
Alexander Casey
https://guide.flatironschool.com/students/9ae923c4-810f-48a2-acda-d6a663a8bae0/notes

Hey Alexander,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 20-week pace:
    - Your Last Milestone completed was:
        - Topic 29: Nonparametric ML Models - Cumulative Lab, which you completed 1 days behind schedule.

    - Your next milestone is to complete:
        Phase 3 Project by 10-09-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 20-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     16          2021-09-28  ...   1 days behind schedule
next     17          2021-10-09  ...  16 days behind schedule
past_due 17          2021-10-09  ...  16 days behind schedule
         18          2021-10-11  ...  14 days behind schedule
         19          2021-10-13  ...  12 days behind schedule
         20          2021-10-15  ...  10 days behind schedule
         21          2021-10-21  ...   4 days behind schedule
         22          2021-10-23  ...   2 days behind schedule

[8 rows x 4 columns]

	 student # 3 / 26



------------------------------------------------------------
Andrew Martinez
https://guide.flatironschool.com/students/7a5392ab-ae7f-4a2d-a9c2-2702496a87cb/notes

Hey Andrew,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 60-week pace:
    - Your Last Milestone completed was:
        - Topic 5: Pandas Data Cleaning - Cumulative Lab, which you completed 15 days behind schedule.

    - Your next milestone is to complete:
        Topic 7: SQL - Cumulative Lab by 10-14-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 60-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     3           2021-10-02  ...  15 days behind schedule
next     4           2021-10-14  ...  11 days behind schedule
past_due 4           2021-10-14  ...  11 days behind schedule
         5           2021-10-20  ...   5 days behind schedule

[4 rows x 4 columns]

------------------------------------------------------------
Andrew Martinez
https://guide.flatironschool.com/students/7a5392ab-ae7f-4a2d-a9c2-2702496a87cb/notes

Hey Andrew,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 60-week pace:
    - Your Last Milestone completed was:
        - Topic 5: Pandas Data Cleaning - Cumulative Lab, which you completed 15 days behind schedule.

    - Your next milestone is to complete:
        Topic 7: SQL - Cumulative Lab by 10-14-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 60-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     3           2021-10-02  ...  15 days behind schedule
next     4           2021-10-14  ...  11 days behind schedule
past_due 4           2021-10-14  ...  11 days behind schedule
         5           2021-10-20  ...   5 days behind schedule

[4 rows x 4 columns]

	 student # 4 / 26



------------------------------------------------------------
Austin Towery
https://guide.flatironschool.com/students/83b9fb0a-204f-4a46-ab2b-f2566d3e5d5e/notes

Hey Austin,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 60-week pace:
    - Your Last Milestone completed was:
        - Topic 9: APIs - Cumulative Lab, which you completed 6 days behind schedule.

    - Your next milestone is to complete:
        Phase 1 Project by 10-05-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 60-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     5           2021-09-08  ...   6 days behind schedule
next     6           2021-10-05  ...  20 days behind schedule
past_due 6           2021-10-05  ...  20 days behind schedule
         7           2021-10-11  ...  14 days behind schedule

[4 rows x 4 columns]

------------------------------------------------------------
Austin Towery
https://guide.flatironschool.com/students/83b9fb0a-204f-4a46-ab2b-f2566d3e5d5e/notes

Hey Austin,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 60-week pace:
    - Your Last Milestone completed was:
        - Topic 9: APIs - Cumulative Lab, which you completed 6 days behind schedule.

    - Your next milestone is to complete:
        Phase 1 Project by 10-05-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 60-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     5           2021-09-08  ...   6 days behind schedule
next     6           2021-10-05  ...  20 days behind schedule
past_due 6           2021-10-05  ...  20 days behind schedule
         7           2021-10-11  ...  14 days behind schedule

[4 rows x 4 columns]

	 student # 5 / 26



------------------------------------------------------------
Claudia Tsai
https://guide.flatironschool.com/students/a7ad4fc9-13eb-444e-97e6-7f36ea56ed8e/notes

Hey Claudia,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 60-week pace:
    - Your Last Milestone completed was:
        - Topic 5: Pandas Data Cleaning - Cumulative Lab, which you completed 20 days behind schedule.

    - Your next milestone is to complete:
        Topic 7: SQL - Cumulative Lab by 10-14-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 60-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     3           2021-10-02  ...  20 days behind schedule
next     4           2021-10-14  ...  11 days behind schedule
past_due 4           2021-10-14  ...  11 days behind schedule
         5           2021-10-20  ...   5 days behind schedule

[4 rows x 4 columns]

------------------------------------------------------------
Claudia Tsai
https://guide.flatironschool.com/students/a7ad4fc9-13eb-444e-97e6-7f36ea56ed8e/notes

Hey Claudia,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 60-week pace:
    - Your Last Milestone completed was:
        - Topic 5: Pandas Data Cleaning - Cumulative Lab, which you completed 20 days behind schedule.

    - Your next milestone is to complete:
        Topic 7: SQL - Cumulative Lab by 10-14-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 60-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     3           2021-10-02  ...  20 days behind schedule
next     4           2021-10-14  ...  11 days behind schedule
past_due 4           2021-10-14  ...  11 days behind schedule
         5           2021-10-20  ...   5 days behind schedule

[4 rows x 4 columns]

	 student # 6 / 26



------------------------------------------------------------
Colm yeh
https://guide.flatironschool.com/students/87e6f72c-2f93-4099-9cb6-da0192ca0f07/notes

Hey Colm,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 40-week pace:
    - Your Last Milestone completed was:
        - Phase 1 Project, which you completed 42 days behind schedule.

    - Your next milestone is to complete:
        Phase 1 Blog Post by 09-13-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 40-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     6           2021-09-09  ...  42 days behind schedule
next     7           2021-09-13  ...  42 days behind schedule
past_due 7           2021-09-13  ...  42 days behind schedule
         8           2021-09-29  ...  26 days behind schedule
         9           2021-10-03  ...  22 days behind schedule
         10          2021-10-17  ...   8 days behind schedule
         11          2021-10-21  ...   4 days behind schedule

[7 rows x 4 columns]

------------------------------------------------------------
Colm yeh
https://guide.flatironschool.com/students/87e6f72c-2f93-4099-9cb6-da0192ca0f07/notes

Hey Colm,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 40-week pace:
    - Your Last Milestone completed was:
        - Phase 1 Project, which you completed 42 days behind schedule.

    - Your next milestone is to complete:
        Phase 1 Blog Post by 09-13-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 40-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     6           2021-09-09  ...  42 days behind schedule
next     7           2021-09-13  ...  42 days behind schedule
past_due 7           2021-09-13  ...  42 days behind schedule
         8           2021-09-29  ...  26 days behind schedule
         9           2021-10-03  ...  22 days behind schedule
         10          2021-10-17  ...   8 days behind schedule
         11          2021-10-21  ...   4 days behind schedule

[7 rows x 4 columns]

	 student # 7 / 26



------------------------------------------------------------
Daniel Ross-Leutwyler
https://guide.flatironschool.com/students/8e535c6a-241b-430b-a9b4-464dd3fabb9b/notes

Hey Daniel,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 20-week pace:
    - Your Last Milestone completed was:
        - Phase 2 Project, which you completed 25 days behind schedule.

    - Your next milestone is to complete:
        Phase 2 Blog Post by 09-13-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 20-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     12          2021-09-11  ...  25 days behind schedule
next     13          2021-09-13  ...  42 days behind schedule
past_due 13          2021-09-13  ...  42 days behind schedule
         14          2021-09-17  ...  38 days behind schedule
         15          2021-09-22  ...  33 days behind schedule
         16          2021-09-28  ...  27 days behind schedule
         17          2021-10-09  ...  16 days behind schedule
         18          2021-10-11  ...  14 days behind schedule
         19          2021-10-13  ...  12 days behind schedule
         20          2021-10-15  ...  10 days behind schedule
         21          2021-10-21  ...   4 days behind schedule
         22          2021-10-23  ...   2 days behind schedule

[12 rows x 4 columns]

------------------------------------------------------------
Daniel Ross-Leutwyler
https://guide.flatironschool.com/students/8e535c6a-241b-430b-a9b4-464dd3fabb9b/notes

Hey Daniel,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 20-week pace:
    - Your Last Milestone completed was:
        - Phase 2 Project, which you completed 25 days behind schedule.

    - Your next milestone is to complete:
        Phase 2 Blog Post by 09-13-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 20-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     12          2021-09-11  ...  25 days behind schedule
next     13          2021-09-13  ...  42 days behind schedule
past_due 13          2021-09-13  ...  42 days behind schedule
         14          2021-09-17  ...  38 days behind schedule
         15          2021-09-22  ...  33 days behind schedule
         16          2021-09-28  ...  27 days behind schedule
         17          2021-10-09  ...  16 days behind schedule
         18          2021-10-11  ...  14 days behind schedule
         19          2021-10-13  ...  12 days behind schedule
         20          2021-10-15  ...  10 days behind schedule
         21          2021-10-21  ...   4 days behind schedule
         22          2021-10-23  ...   2 days behind schedule

[12 rows x 4 columns]

	 student # 8 / 26



------------------------------------------------------------
Donica Miller
https://guide.flatironschool.com/students/c94227c8-d3f8-4b90-bc68-f71fabb48454/notes

Hey Donica,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 60-week pace:
    - Your Last Milestone completed was:
        - Topic 5: Pandas Data Cleaning - Cumulative Lab, which you completed 9 days behind schedule.

    - Your next milestone is to complete:
        Topic 7: SQL - Cumulative Lab by 09-23-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 60-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     3           2021-09-11  ...   9 days behind schedule
next     4           2021-09-23  ...  32 days behind schedule
past_due 4           2021-09-23  ...  32 days behind schedule
         5           2021-09-29  ...  26 days behind schedule

[4 rows x 4 columns]

------------------------------------------------------------
Donica Miller
https://guide.flatironschool.com/students/c94227c8-d3f8-4b90-bc68-f71fabb48454/notes

Hey Donica,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 60-week pace:
    - Your Last Milestone completed was:
        - Topic 5: Pandas Data Cleaning - Cumulative Lab, which you completed 9 days behind schedule.

    - Your next milestone is to complete:
        Topic 7: SQL - Cumulative Lab by 09-23-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 60-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     3           2021-09-11  ...   9 days behind schedule
next     4           2021-09-23  ...  32 days behind schedule
past_due 4           2021-09-23  ...  32 days behind schedule
         5           2021-09-29  ...  26 days behind schedule

[4 rows x 4 columns]

	 student # 9 / 26



------------------------------------------------------------
Ferdinand Beaman
https://guide.flatironschool.com/students/41633db9-35ce-474d-9c55-b42d22eeb727/notes

Hey Ferdinand,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 60-week pace:
    - Your Last Milestone completed was:
        - Topic 5: Pandas Data Cleaning - Cumulative Lab, which you completed 18 days behind schedule.

    - Your next milestone is to complete:
        Topic 7: SQL - Cumulative Lab by 09-23-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 60-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     3           2021-09-11  ...  18 days behind schedule
next     4           2021-09-23  ...  32 days behind schedule
past_due 4           2021-09-23  ...  32 days behind schedule
         5           2021-09-29  ...  26 days behind schedule

[4 rows x 4 columns]

------------------------------------------------------------
Ferdinand Beaman
https://guide.flatironschool.com/students/41633db9-35ce-474d-9c55-b42d22eeb727/notes

Hey Ferdinand,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 60-week pace:
    - Your Last Milestone completed was:
        - Topic 5: Pandas Data Cleaning - Cumulative Lab, which you completed 18 days behind schedule.

    - Your next milestone is to complete:
        Topic 7: SQL - Cumulative Lab by 09-23-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 60-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     3           2021-09-11  ...  18 days behind schedule
next     4           2021-09-23  ...  32 days behind schedule
past_due 4           2021-09-23  ...  32 days behind schedule
         5           2021-09-29  ...  26 days behind schedule

[4 rows x 4 columns]

	 student # 10 / 26



------------------------------------------------------------
Freddy Abrahamson
https://guide.flatironschool.com/students/4e0b4373-0fdd-4460-b52a-496dc647c1aa/notes

Hey Freddy,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 40-week pace:
    - Your Last Milestone completed was:
        - Topic 9: APIs - Cumulative Lab, which you completed 11 days ahead of schedule.

    - Your next milestone is to complete:
        Phase 1 Project by 09-30-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 40-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...      Milestone on Timeness
         Milestone #             ...
last     5           2021-09-12  ...  11 days ahead of schedule
next     6           2021-09-30  ...    25 days behind schedule
past_due 6           2021-09-30  ...    25 days behind schedule
         7           2021-10-04  ...    21 days behind schedule
         8           2021-10-20  ...     5 days behind schedule
         9           2021-10-24  ...     1 days behind schedule

[6 rows x 4 columns]

------------------------------------------------------------
Freddy Abrahamson
https://guide.flatironschool.com/students/4e0b4373-0fdd-4460-b52a-496dc647c1aa/notes

Hey Freddy,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 40-week pace:
    - Your Last Milestone completed was:
        - Topic 9: APIs - Cumulative Lab, which you completed 11 days ahead of schedule.

    - Your next milestone is to complete:
        Phase 1 Project by 09-30-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 40-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...      Milestone on Timeness
         Milestone #             ...
last     5           2021-09-12  ...  11 days ahead of schedule
next     6           2021-09-30  ...    25 days behind schedule
past_due 6           2021-09-30  ...    25 days behind schedule
         7           2021-10-04  ...    21 days behind schedule
         8           2021-10-20  ...     5 days behind schedule
         9           2021-10-24  ...     1 days behind schedule

[6 rows x 4 columns]

	 student # 11 / 26



------------------------------------------------------------
James Pheby
https://guide.flatironschool.com/students/042ad47b-d7f4-45f9-8d05-7b7ddec3346a/notes

Hey James,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 40-week pace:
    - Your Last Milestone completed was:
        - Phase 1 Project, which you completed 18 days behind schedule.

    - Your next milestone is to complete:
        Phase 1 Blog Post by 10-04-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 40-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     6           2021-09-30  ...  18 days behind schedule
next     7           2021-10-04  ...  21 days behind schedule
past_due 7           2021-10-04  ...  21 days behind schedule
         8           2021-10-20  ...   5 days behind schedule
         9           2021-10-24  ...   1 days behind schedule

[5 rows x 4 columns]

------------------------------------------------------------
James Pheby
https://guide.flatironschool.com/students/042ad47b-d7f4-45f9-8d05-7b7ddec3346a/notes

Hey James,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 40-week pace:
    - Your Last Milestone completed was:
        - Phase 1 Project, which you completed 18 days behind schedule.

    - Your next milestone is to complete:
        Phase 1 Blog Post by 10-04-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 40-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     6           2021-09-30  ...  18 days behind schedule
next     7           2021-10-04  ...  21 days behind schedule
past_due 7           2021-10-04  ...  21 days behind schedule
         8           2021-10-20  ...   5 days behind schedule
         9           2021-10-24  ...   1 days behind schedule

[5 rows x 4 columns]

	 student # 12 / 26



------------------------------------------------------------
Jim Petoskey
https://guide.flatironschool.com/students/fc42f6b4-d1dd-4323-be27-8c99518fdf86/notes

Hey Jim,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 20-week pace:

    - Your next milestone is to complete:
        Topic 3: Data Serialization Formats - Cumulative Lab by 08-13-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 20-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
next     1           2021-08-13  ...  73 days behind schedule
past_due 1           2021-08-13  ...  73 days behind schedule
         2           2021-08-18  ...  68 days behind schedule
         3           2021-08-20  ...  66 days behind schedule
         4           2021-08-24  ...  62 days behind schedule
         5           2021-08-26  ...  60 days behind schedule
         6           2021-09-04  ...  51 days behind schedule
         7           2021-09-06  ...  49 days behind schedule
         8           2021-09-14  ...  41 days behind schedule
         9           2021-09-16  ...  39 days behind schedule
         10          2021-09-23  ...  32 days behind schedule
         11          2021-09-25  ...  30 days behind schedule
         12          2021-10-02  ...  23 days behind schedule
         13          2021-10-04  ...  21 days behind schedule
         14          2021-10-08  ...  17 days behind schedule
         15          2021-10-13  ...  12 days behind schedule
         16          2021-10-19  ...   6 days behind schedule

[17 rows x 4 columns]

[!] Problem with Jim Petoskey


	 student # 13 / 26



------------------------------------------------------------
Kevin Culver
https://guide.flatironschool.com/students/7ce69a7b-ed72-4988-a63f-549d1f78116a/notes

Hey Kevin,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 40-week pace:
    - Your Last Milestone completed was:
        - Topic 9: APIs - Cumulative Lab, which you completed 4 days ahead of schedule.

    - Your next milestone is to complete:
        Phase 1 Project by 11-11-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 40-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                   Due Date  ...     Milestone on Timeness
     Milestone #             ...
last 5           2021-10-24  ...  4 days ahead of schedule
next 6           2021-11-11  ...            due in 17 days

[2 rows x 4 columns]

------------------------------------------------------------
Kevin Culver
https://guide.flatironschool.com/students/7ce69a7b-ed72-4988-a63f-549d1f78116a/notes

Hey Kevin,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 40-week pace:
    - Your Last Milestone completed was:
        - Topic 9: APIs - Cumulative Lab, which you completed 4 days ahead of schedule.

    - Your next milestone is to complete:
        Phase 1 Project by 11-11-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 40-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                   Due Date  ...     Milestone on Timeness
     Milestone #             ...
last 5           2021-10-24  ...  4 days ahead of schedule
next 6           2021-11-11  ...            due in 17 days

[2 rows x 4 columns]

	 student # 14 / 26



------------------------------------------------------------
Kregg Jackson
https://guide.flatironschool.com/students/541359d0-fbd3-4aa6-a66d-1f1cd0bc5271/notes

Hey Kregg,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 60-week pace:
    - Your Last Milestone completed was:
        - Topic 7: SQL - Cumulative Lab, which you completed 21 days behind schedule.

    - Your next milestone is to complete:
        Topic 9: APIs - Cumulative Lab by 09-29-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 60-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     4           2021-09-23  ...  21 days behind schedule
next     5           2021-09-29  ...  26 days behind schedule
past_due 5           2021-09-29  ...  26 days behind schedule

[3 rows x 4 columns]

------------------------------------------------------------
Kregg Jackson
https://guide.flatironschool.com/students/541359d0-fbd3-4aa6-a66d-1f1cd0bc5271/notes

Hey Kregg,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 60-week pace:
    - Your Last Milestone completed was:
        - Topic 7: SQL - Cumulative Lab, which you completed 21 days behind schedule.

    - Your next milestone is to complete:
        Topic 9: APIs - Cumulative Lab by 09-29-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 60-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     4           2021-09-23  ...  21 days behind schedule
next     5           2021-09-29  ...  26 days behind schedule
past_due 5           2021-09-29  ...  26 days behind schedule

[3 rows x 4 columns]

	 student # 15 / 26



------------------------------------------------------------
Louis Casanave
https://guide.flatironschool.com/students/4b744f3d-7968-448c-a4d7-adbd3a931db1/notes

Hey Louis,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 40-week pace:
    - Your Last Milestone completed was:
        - Topic 9: APIs - Cumulative Lab, which you completed 4 days ahead of schedule.

    - Your next milestone is to complete:
        Phase 1 Project by 11-11-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 40-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                   Due Date  ...     Milestone on Timeness
     Milestone #             ...
last 5           2021-10-24  ...  4 days ahead of schedule
next 6           2021-11-11  ...            due in 17 days

[2 rows x 4 columns]

------------------------------------------------------------
Louis Casanave
https://guide.flatironschool.com/students/4b744f3d-7968-448c-a4d7-adbd3a931db1/notes

Hey Louis,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 40-week pace:
    - Your Last Milestone completed was:
        - Topic 9: APIs - Cumulative Lab, which you completed 4 days ahead of schedule.

    - Your next milestone is to complete:
        Phase 1 Project by 11-11-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 40-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                   Due Date  ...     Milestone on Timeness
     Milestone #             ...
last 5           2021-10-24  ...  4 days ahead of schedule
next 6           2021-11-11  ...            due in 17 days

[2 rows x 4 columns]

	 student # 16 / 26



------------------------------------------------------------
Maliha Momtaj
https://guide.flatironschool.com/students/e435b491-8b87-469d-a559-5a9a610e991d/notes

Hey Maliha,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 40-week pace:

    - Your next milestone is to complete:
        Topic 3: Data Serialization Formats - Cumulative Lab by 10-19-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 40-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...   Milestone on Timeness
         Milestone #             ...
next     1           2021-10-19  ...  6 days behind schedule
past_due 1           2021-10-19  ...  6 days behind schedule

[2 rows x 4 columns]

[!] Problem with Maliha Momtaj


	 student # 17 / 26



------------------------------------------------------------
Matthew Noonan
https://guide.flatironschool.com/students/74c92b9b-51d7-4b56-bfed-790d33f961dd/notes

Hey Matthew,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 40-week pace:
    - Your Last Milestone completed was:
        - Topic 7: SQL - Cumulative Lab, which you completed 4 days ahead of schedule.

    - Your next milestone is to complete:
        Topic 9: APIs - Cumulative Lab by 10-24-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 40-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...     Milestone on Timeness
         Milestone #             ...
last     4           2021-10-20  ...  4 days ahead of schedule
next     5           2021-10-24  ...    1 days behind schedule
past_due 5           2021-10-24  ...    1 days behind schedule

[3 rows x 4 columns]

------------------------------------------------------------
Matthew Noonan
https://guide.flatironschool.com/students/74c92b9b-51d7-4b56-bfed-790d33f961dd/notes

Hey Matthew,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 40-week pace:
    - Your Last Milestone completed was:
        - Topic 7: SQL - Cumulative Lab, which you completed 4 days ahead of schedule.

    - Your next milestone is to complete:
        Topic 9: APIs - Cumulative Lab by 10-24-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 40-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...     Milestone on Timeness
         Milestone #             ...
last     4           2021-10-20  ...  4 days ahead of schedule
next     5           2021-10-24  ...    1 days behind schedule
past_due 5           2021-10-24  ...    1 days behind schedule

[3 rows x 4 columns]

	 student # 18 / 26



------------------------------------------------------------
Monique Hercules
https://guide.flatironschool.com/students/993d2655-8cf4-4bb5-bc6b-3affa81dc913/notes

Hey Monique,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 20-week pace:

    - Your next milestone is to complete:
        Topic 3: Data Serialization Formats - Cumulative Lab by 10-15-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 20-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
next     1           2021-10-15  ...  10 days behind schedule
past_due 1           2021-10-15  ...  10 days behind schedule
         2           2021-10-20  ...   5 days behind schedule
         3           2021-10-22  ...   3 days behind schedule

[4 rows x 4 columns]

[!] Problem with Monique Hercules


	 student # 19 / 26



------------------------------------------------------------
Morgan Didjurgis
https://guide.flatironschool.com/students/72c6ccfd-bbcd-4bd4-8d3a-f83e00ecabbe/notes

Hey Morgan,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 40-week pace:
    - Your Last Milestone completed was:
        - Phase 1 Blog Post, which you completed 11 days behind schedule.

    - Your next milestone is to complete:
        Topic 15: Hypothesis Testing - Cumulative Lab by 10-20-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 40-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     7           2021-10-04  ...  11 days behind schedule
next     8           2021-10-20  ...   5 days behind schedule
past_due 8           2021-10-20  ...   5 days behind schedule
         9           2021-10-24  ...   1 days behind schedule

[4 rows x 4 columns]

------------------------------------------------------------
Morgan Didjurgis
https://guide.flatironschool.com/students/72c6ccfd-bbcd-4bd4-8d3a-f83e00ecabbe/notes

Hey Morgan,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 40-week pace:
    - Your Last Milestone completed was:
        - Phase 1 Blog Post, which you completed 11 days behind schedule.

    - Your next milestone is to complete:
        Topic 15: Hypothesis Testing - Cumulative Lab by 10-20-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 40-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     7           2021-10-04  ...  11 days behind schedule
next     8           2021-10-20  ...   5 days behind schedule
past_due 8           2021-10-20  ...   5 days behind schedule
         9           2021-10-24  ...   1 days behind schedule

[4 rows x 4 columns]

	 student # 20 / 26



------------------------------------------------------------
Nick Winokur
https://guide.flatironschool.com/students/0c16bbdc-ff24-4d5b-8770-18f1c855e4a7/notes

Hey Nick,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 40-week pace:

    - Your next milestone is to complete:
        Topic 3: Data Serialization Formats - Cumulative Lab by 09-28-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 40-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
next     1           2021-09-28  ...  27 days behind schedule
past_due 1           2021-09-28  ...  27 days behind schedule
         2           2021-10-08  ...  17 days behind schedule
         3           2021-10-12  ...  13 days behind schedule
         4           2021-10-20  ...   5 days behind schedule
         5           2021-10-24  ...   1 days behind schedule

[6 rows x 4 columns]

[!] Problem with Nick Winokur


	 student # 21 / 26



------------------------------------------------------------
Noor Syed
https://guide.flatironschool.com/students/48390b16-ea78-45f7-ba7b-3490f2c72aed/notes

Hey Noor,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 40-week pace:

    - Your next milestone is to complete:
        Topic 3: Data Serialization Formats - Cumulative Lab by 09-28-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 40-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
next     1           2021-09-28  ...  27 days behind schedule
past_due 1           2021-09-28  ...  27 days behind schedule
         2           2021-10-08  ...  17 days behind schedule
         3           2021-10-12  ...  13 days behind schedule
         4           2021-10-20  ...   5 days behind schedule
         5           2021-10-24  ...   1 days behind schedule

[6 rows x 4 columns]

[!] Problem with Noor Syed


	 student # 22 / 26



------------------------------------------------------------
Robert Cauvy
https://guide.flatironschool.com/students/46c0c0c5-93fe-4942-8f19-d7b4b326df24/notes

Hey Robert,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 40-week pace:
    - Your Last Milestone completed was:
        - Topic 20: Linear Regression - Cumulative Lab, which you completed 24 days ahead of schedule.

    - Your next milestone is to complete:
        Phase 2 Project by 11-25-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 40-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                   Due Date  ...      Milestone on Timeness
     Milestone #             ...
last 11          2021-11-11  ...  24 days ahead of schedule
next 12          2021-11-25  ...             due in 31 days

[2 rows x 4 columns]

------------------------------------------------------------
Robert Cauvy
https://guide.flatironschool.com/students/46c0c0c5-93fe-4942-8f19-d7b4b326df24/notes

Hey Robert,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 40-week pace:
    - Your Last Milestone completed was:
        - Topic 20: Linear Regression - Cumulative Lab, which you completed 24 days ahead of schedule.

    - Your next milestone is to complete:
        Phase 2 Project by 11-25-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 40-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                   Due Date  ...      Milestone on Timeness
     Milestone #             ...
last 11          2021-11-11  ...  24 days ahead of schedule
next 12          2021-11-25  ...             due in 31 days

[2 rows x 4 columns]

	 student # 23 / 26



------------------------------------------------------------
Ryan Sajac
https://guide.flatironschool.com/students/f61798e5-c15f-45e5-b4a4-ee20bdeafcd0/notes

Hey Ryan,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 20-week pace:
    - Your Last Milestone completed was:
        - Topic 4: EDA with Pandas - Cumulative Lab, which you completed on time.

    - Your next milestone is to complete:
        Topic 5: Pandas Data Cleaning - Cumulative Lab by 10-22-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 20-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...   Milestone on Timeness
         Milestone #             ...
last     2           2021-10-20  ...                 on time
next     3           2021-10-22  ...  3 days behind schedule
past_due 3           2021-10-22  ...  3 days behind schedule

[3 rows x 4 columns]

------------------------------------------------------------
Ryan Sajac
https://guide.flatironschool.com/students/f61798e5-c15f-45e5-b4a4-ee20bdeafcd0/notes

Hey Ryan,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 20-week pace:
    - Your Last Milestone completed was:
        - Topic 4: EDA with Pandas - Cumulative Lab, which you completed on time.

    - Your next milestone is to complete:
        Topic 5: Pandas Data Cleaning - Cumulative Lab by 10-22-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 20-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...   Milestone on Timeness
         Milestone #             ...
last     2           2021-10-20  ...                 on time
next     3           2021-10-22  ...  3 days behind schedule
past_due 3           2021-10-22  ...  3 days behind schedule

[3 rows x 4 columns]

	 student # 24 / 26



------------------------------------------------------------
Samuel Oliver
https://guide.flatironschool.com/students/b5dd19ef-f1fd-4834-8d78-a8b3b5b057e9/notes

Hey Samuel,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 20-week pace:
    - Your Last Milestone completed was:
        - Topic 16: Website A/B Testing - Lab, which you completed 18 days behind schedule.

    - Your next milestone is to complete:
        Topic 19: Preprocessing with scikit-learn - Cumulative Lab by 09-23-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 20-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     9           2021-09-16  ...  18 days behind schedule
next     10          2021-09-23  ...  32 days behind schedule
past_due 10          2021-09-23  ...  32 days behind schedule
         11          2021-09-25  ...  30 days behind schedule
         12          2021-10-02  ...  23 days behind schedule
         13          2021-10-04  ...  21 days behind schedule
         14          2021-10-08  ...  17 days behind schedule
         15          2021-10-13  ...  12 days behind schedule
         16          2021-10-19  ...   6 days behind schedule

[9 rows x 4 columns]

------------------------------------------------------------
Samuel Oliver
https://guide.flatironschool.com/students/b5dd19ef-f1fd-4834-8d78-a8b3b5b057e9/notes

Hey Samuel,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 20-week pace:
    - Your Last Milestone completed was:
        - Topic 16: Website A/B Testing - Lab, which you completed 18 days behind schedule.

    - Your next milestone is to complete:
        Topic 19: Preprocessing with scikit-learn - Cumulative Lab by 09-23-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 20-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...    Milestone on Timeness
         Milestone #             ...
last     9           2021-09-16  ...  18 days behind schedule
next     10          2021-09-23  ...  32 days behind schedule
past_due 10          2021-09-23  ...  32 days behind schedule
         11          2021-09-25  ...  30 days behind schedule
         12          2021-10-02  ...  23 days behind schedule
         13          2021-10-04  ...  21 days behind schedule
         14          2021-10-08  ...  17 days behind schedule
         15          2021-10-13  ...  12 days behind schedule
         16          2021-10-19  ...   6 days behind schedule

[9 rows x 4 columns]

	 student # 25 / 26



------------------------------------------------------------
Simran Kaur
https://guide.flatironschool.com/students/175ad881-7589-4376-b7d7-600757d9b5f3/notes

Hey Simran,
:sunrise: Happy Monday!:sun-happy:

I just wanted to check in with you and see how everything is going. How was your weekend?

- Also, I was wondering what topics are you planning on tackling this week?

- I also wanted to remind you of the milestones (base.flatironschool.com/milestones) for your 60-week pace:

    - Your next milestone is to complete:
        Topic 3: Data Serialization Formats - Cumulative Lab by 10-23-2021

    - Right now you are <INSTRUCTOR WRITTEN SUMMARY> your desired 60-week pace.


- Finally, I just wanted to check if there is anything that you need or that I can assist you with?

Thanks!

                       Due Date  ...   Milestone on Timeness
         Milestone #             ...
next     1           2021-10-23  ...  2 days behind schedule
past_due 1           2021-10-23  ...  2 days behind schedule

[2 rows x 4 columns]

[!] Problem with Simran Kaur


	 student # 26 / 26



Students that error'd:
- Jim Petoskey
- Maliha Momtaj
- Monique Hercules
- Nick Winokur
- Noor Syed
- Simran Kaur

# Extracting All Milestones for Every Student

In [26]:
## Use this cell to determine the subset of students to process
PACES_TO_USE = [20,40,60]

# students_to_msg = list(df['Full Name'].unique())
students_to_msg = student_paces[student_paces.isin(PACES_TO_USE)].index
students_to_msg

Index(['Alec Hing', 'Alex Liang', 'Alexander Casey', 'Andrew Martinez',
       'Austin Towery', 'Claudia Tsai', 'Colm yeh', 'Daniel Ross-Leutwyler',
       'Donica Miller', 'Ferdinand Beaman', 'Freddy Abrahamson', 'James Pheby',
       'Jim Petoskey', 'Kevin Culver', 'Kregg Jackson', 'Louis Casanave',
       'Maliha Momtaj', 'Matthew Noonan', 'Monique Hercules',
       'Morgan Didjurgis', 'Nick Winokur', 'Noor Syed', 'Robert Cauvy',
       'Ryan Sajac', 'Samuel Oliver', 'Simran Kaur'],
      dtype='object', name='Full Name')

In [27]:
MILESTONES = {}

for student in students_to_msg:
    res = get_milestone_report(df, student)['milestones']
    MILESTONES[student] = res

    display(res.style.set_caption(student))

In [28]:
MILESTONES

{'Alec Hing':             Full Name  Milestone #  ... Completed Date    Milestone on Timeness
 Due Date                            ...
 2021-09-07  Alec Hing            1  ...     2021-09-13   6 days behind schedule
 2021-09-17  Alec Hing            2  ...     2021-09-23   6 days behind schedule
 2021-09-21  Alec Hing            3  ...     2021-10-04  13 days behind schedule
 2021-09-29  Alec Hing            4  ...     2021-10-11  12 days behind schedule
 2021-10-03  Alec Hing            5  ...     2021-10-13  10 days behind schedule
 2021-10-21  Alec Hing            6  ...            NaT   4 days behind schedule
 2021-10-25  Alec Hing            7  ...            NaT                due today
 2021-11-10  Alec Hing            8  ...            NaT           due in 16 days
 2021-11-14  Alec Hing            9  ...            NaT           due in 20 days
 2021-11-28  Alec Hing           10  ...            NaT           due in 34 days
 2021-12-02  Alec Hing           11  ...            NaT           due in 38 days
 2021-12-16  Alec Hing           12  ...            NaT           due in 52 days
 2021-12-20  Alec Hing           13  ...            NaT           due in 56 days
 2021-12-28  Alec Hing           14  ...            NaT           due in 64 days
 2022-01-07  Alec Hing           15  ...            NaT           due in 74 days
 2022-01-19  Alec Hing           16  ...            NaT           due in 86 days
 2022-02-10  Alec Hing           17  ...            NaT          due in 108 days
 2022-02-14  Alec Hing           18  ...            NaT          due in 112 days
 2022-02-18  Alec Hing           19  ...            NaT          due in 116 days
 2022-02-22  Alec Hing           20  ...            NaT          due in 120 days
 2022-03-06  Alec Hing           21  ...            NaT          due in 132 days
 2022-03-10  Alec Hing           22  ...            NaT          due in 136 days
 2022-04-07  Alec Hing           23  ...            NaT          due in 164 days
 2022-04-11  Alec Hing           24  ...            NaT          due in 168 days
 2022-04-27  Alec Hing           25  ...            NaT          due in 184 days
 2022-05-11  Alec Hing           26  ...            NaT          due in 198 days
 2022-06-02  Alec Hing           27  ...            NaT          due in 220 days
 2022-06-06  Alec Hing           28  ...            NaT          due in 224 days

 [28 rows x 5 columns],
 'Alex Liang':              Full Name  Milestone #  ... Completed Date   Milestone on Timeness
 Due Date                             ...
 2021-09-11  Alex Liang            1  ...     2021-09-19  8 days behind schedule
 2021-09-26  Alex Liang            2  ...     2021-10-01  5 days behind schedule
 2021-10-02  Alex Liang            3  ...     2021-10-02                 on time
 2021-10-14  Alex Liang            4  ...     2021-10-14                 on time
 2021-10-20  Alex Liang            5  ...     2021-10-20                 on time
 2021-11-16  Alex Liang            6  ...            NaT          due in 22 days
 2021-11-22  Alex Liang            7  ...            NaT          due in 28 days
 2021-12-16  Alex Liang            8  ...            NaT          due in 52 days
 2021-12-22  Alex Liang            9  ...            NaT          due in 58 days
 2022-01-12  Alex Liang           10  ...            NaT          due in 79 days
 2022-01-18  Alex Liang           11  ...            NaT          due in 85 days
 2022-02-08  Alex Liang           12  ...            NaT         due in 106 days
 2022-02-14  Alex Liang           13  ...            NaT         due in 112 days
 2022-02-26  Alex Liang           14  ...            NaT         due in 124 days
 2022-03-13  Alex Liang           15  ...            NaT         due in 139 days
 2022-03-31  Alex Liang           16  ...            NaT         due in 157 days
 2022-05-03  Alex Liang           17  ...            NaT         due in 190 days
 2022-05-09  Alex Liang           18  ...            NaT         due in 196 days
 2022-05-15  Alex Liang           19  ...            NaT         due in 202 days
 2022-05-21  Alex Liang           20  ...            NaT         due in 208 days
 2022-06-08  Alex Liang           21  ...            NaT         due in 226 days
 2022-06-14  Alex Liang           22  ...            NaT         due in 232 days
 2022-07-26  Alex Liang           23  ...            NaT         due in 274 days
 2022-08-01  Alex Liang           24  ...            NaT         due in 280 days
 2022-08-25  Alex Liang           25  ...            NaT         due in 304 days
 2022-09-15  Alex Liang           26  ...            NaT         due in 325 days
 2022-10-18  Alex Liang           27  ...            NaT         due in 358 days
 2022-10-24  Alex Liang           28  ...            NaT         due in 364 days

 [28 rows x 5 columns],
 'Alexander Casey':                   Full Name  ...      Milestone on Timeness
 Due Date                     ...
 2021-07-23  Alexander Casey  ...     8 days behind schedule
 2021-07-28  Alexander Casey  ...     3 days behind schedule
 2021-07-30  Alexander Casey  ...     1 days behind schedule
 2021-08-03  Alexander Casey  ...   3 days ahead of schedule
 2021-08-05  Alexander Casey  ...   5 days ahead of schedule
 2021-08-14  Alexander Casey  ...     6 days behind schedule
 2021-08-16  Alexander Casey  ...     4 days behind schedule
 2021-08-24  Alexander Casey  ...   4 days ahead of schedule
 2021-08-26  Alexander Casey  ...   6 days ahead of schedule
 2021-09-02  Alexander Casey  ...   9 days ahead of schedule
 2021-09-04  Alexander Casey  ...  10 days ahead of schedule
 2021-09-11  Alexander Casey  ...     9 days behind schedule
 2021-09-13  Alexander Casey  ...     7 days behind schedule
 2021-09-17  Alexander Casey  ...     4 days behind schedule
 2021-09-22  Alexander Casey  ...                    on time
 2021-09-28  Alexander Casey  ...     1 days behind schedule
 2021-10-09  Alexander Casey  ...    16 days behind schedule
 2021-10-11  Alexander Casey  ...    14 days behind schedule
 2021-10-13  Alexander Casey  ...    12 days behind schedule
 2021-10-15  Alexander Casey  ...    10 days behind schedule
 2021-10-21  Alexander Casey  ...     4 days behind schedule
 2021-10-23  Alexander Casey  ...     2 days behind schedule
 2021-11-06  Alexander Casey  ...             due in 12 days
 2021-11-08  Alexander Casey  ...             due in 14 days
 2021-11-16  Alexander Casey  ...             due in 22 days
 2021-11-23  Alexander Casey  ...             due in 29 days
 2021-12-04  Alexander Casey  ...             due in 40 days
 2021-12-06  Alexander Casey  ...             due in 42 days

 [28 rows x 5 columns],
 'Andrew Martinez':                   Full Name  ...    Milestone on Timeness
 Due Date                     ...
 2021-09-11  Andrew Martinez  ...  21 days behind schedule
 2021-09-26  Andrew Martinez  ...  12 days behind schedule
 2021-10-02  Andrew Martinez  ...  15 days behind schedule
 2021-10-14  Andrew Martinez  ...  11 days behind schedule
 2021-10-20  Andrew Martinez  ...   5 days behind schedule
 2021-11-16  Andrew Martinez  ...           due in 22 days
 2021-11-22  Andrew Martinez  ...           due in 28 days
 2021-12-16  Andrew Martinez  ...           due in 52 days
 2021-12-22  Andrew Martinez  ...           due in 58 days
 2022-01-12  Andrew Martinez  ...           due in 79 days
 2022-01-18  Andrew Martinez  ...           due in 85 days
 2022-02-08  Andrew Martinez  ...          due in 106 days
 2022-02-14  Andrew Martinez  ...          due in 112 days
 2022-02-26  Andrew Martinez  ...          due in 124 days
 2022-03-13  Andrew Martinez  ...          due in 139 days
 2022-03-31  Andrew Martinez  ...          due in 157 days
 2022-05-03  Andrew Martinez  ...          due in 190 days
 2022-05-09  Andrew Martinez  ...          due in 196 days
 2022-05-15  Andrew Martinez  ...          due in 202 days
 2022-05-21  Andrew Martinez  ...          due in 208 days
 2022-06-08  Andrew Martinez  ...          due in 226 days
 2022-06-14  Andrew Martinez  ...          due in 232 days
 2022-07-26  Andrew Martinez  ...          due in 274 days
 2022-08-01  Andrew Martinez  ...          due in 280 days
 2022-08-25  Andrew Martinez  ...          due in 304 days
 2022-09-15  Andrew Martinez  ...          due in 325 days
 2022-10-18  Andrew Martinez  ...          due in 358 days
 2022-10-24  Andrew Martinez  ...          due in 364 days

 [28 rows x 5 columns],
 'Austin Towery':                 Full Name  Milestone #  ... Completed Date    Milestone on Timeness
 Due Date                                ...
 2021-07-31  Austin Towery            1  ...     2021-08-23  23 days behind schedule
 2021-08-15  Austin Towery            2  ...     2021-08-23   8 days behind schedule
 2021-08-21  Austin Towery            3  ...     2021-08-23   2 days behind schedule
 2021-09-02  Austin Towery            4  ...     2021-09-07   5 days behind schedule
 2021-09-08  Austin Towery            5  ...     2021-09-14   6 days behind schedule
 2021-10-05  Austin Towery            6  ...            NaT  20 days behind schedule
 2021-10-11  Austin Towery            7  ...            NaT  14 days behind schedule
 2021-11-04  Austin Towery            8  ...            NaT           due in 10 days
 2021-11-10  Austin Towery            9  ...            NaT           due in 16 days
 2021-12-01  Austin Towery           10  ...            NaT           due in 37 days
 2021-12-07  Austin Towery           11  ...            NaT           due in 43 days
 2021-12-28  Austin Towery           12  ...            NaT           due in 64 days
 2022-01-03  Austin Towery           13  ...            NaT           due in 70 days
 2022-01-15  Austin Towery           14  ...            NaT           due in 82 days
 2022-01-30  Austin Towery           15  ...            NaT           due in 97 days
 2022-02-17  Austin Towery           16  ...            NaT          due in 115 days
 2022-03-22  Austin Towery           17  ...            NaT          due in 148 days
 2022-03-28  Austin Towery           18  ...            NaT          due in 154 days
 2022-04-03  Austin Towery           19  ...            NaT          due in 160 days
 2022-04-09  Austin Towery           20  ...            NaT          due in 166 days
 2022-04-27  Austin Towery           21  ...            NaT          due in 184 days
 2022-05-03  Austin Towery           22  ...            NaT          due in 190 days
 2022-06-14  Austin Towery           23  ...            NaT          due in 232 days
 2022-06-20  Austin Towery           24  ...            NaT          due in 238 days
 2022-07-14  Austin Towery           25  ...            NaT          due in 262 days
 2022-08-04  Austin Towery           26  ...            NaT          due in 283 days
 2022-09-06  Austin Towery           27  ...            NaT          due in 316 days
 2022-09-12  Austin Towery           28  ...            NaT          due in 322 days

 [28 rows x 5 columns],
 'Claudia Tsai':                Full Name  Milestone #  ... Completed Date    Milestone on Timeness
 Due Date                               ...
 2021-09-11  Claudia Tsai            1  ...     2021-10-22  41 days behind schedule
 2021-09-26  Claudia Tsai            2  ...     2021-10-22  26 days behind schedule
 2021-10-02  Claudia Tsai            3  ...     2021-10-22  20 days behind schedule
 2021-10-14  Claudia Tsai            4  ...            NaT  11 days behind schedule
 2021-10-20  Claudia Tsai            5  ...            NaT   5 days behind schedule
 2021-11-16  Claudia Tsai            6  ...            NaT           due in 22 days
 2021-11-22  Claudia Tsai            7  ...            NaT           due in 28 days
 2021-12-16  Claudia Tsai            8  ...            NaT           due in 52 days
 2021-12-22  Claudia Tsai            9  ...            NaT           due in 58 days
 2022-01-12  Claudia Tsai           10  ...            NaT           due in 79 days
 2022-01-18  Claudia Tsai           11  ...            NaT           due in 85 days
 2022-02-08  Claudia Tsai           12  ...            NaT          due in 106 days
 2022-02-14  Claudia Tsai           13  ...            NaT          due in 112 days
 2022-02-26  Claudia Tsai           14  ...            NaT          due in 124 days
 2022-03-13  Claudia Tsai           15  ...            NaT          due in 139 days
 2022-03-31  Claudia Tsai           16  ...            NaT          due in 157 days
 2022-05-03  Claudia Tsai           17  ...            NaT          due in 190 days
 2022-05-09  Claudia Tsai           18  ...            NaT          due in 196 days
 2022-05-15  Claudia Tsai           19  ...            NaT          due in 202 days
 2022-05-21  Claudia Tsai           20  ...            NaT          due in 208 days
 2022-06-08  Claudia Tsai           21  ...            NaT          due in 226 days
 2022-06-14  Claudia Tsai           22  ...            NaT          due in 232 days
 2022-07-26  Claudia Tsai           23  ...            NaT          due in 274 days
 2022-08-01  Claudia Tsai           24  ...            NaT          due in 280 days
 2022-08-25  Claudia Tsai           25  ...            NaT          due in 304 days
 2022-09-15  Claudia Tsai           26  ...            NaT          due in 325 days
 2022-10-18  Claudia Tsai           27  ...            NaT          due in 358 days
 2022-10-24  Claudia Tsai           28  ...            NaT          due in 364 days

 [28 rows x 5 columns],
 'Colm yeh':            Full Name  Milestone #  ... Completed Date    Milestone on Timeness
 Due Date                           ...
 2021-07-27  Colm yeh            1  ...     2021-09-01  36 days behind schedule
 2021-08-06  Colm yeh            2  ...     2021-09-01  26 days behind schedule
 2021-08-10  Colm yeh            3  ...     2021-09-01  22 days behind schedule
 2021-08-18  Colm yeh            4  ...     2021-09-01  14 days behind schedule
 2021-08-22  Colm yeh            5  ...     2021-09-22  31 days behind schedule
 2021-09-09  Colm yeh            6  ...     2021-10-21  42 days behind schedule
 2021-09-13  Colm yeh            7  ...            NaT  42 days behind schedule
 2021-09-29  Colm yeh            8  ...            NaT  26 days behind schedule
 2021-10-03  Colm yeh            9  ...            NaT  22 days behind schedule
 2021-10-17  Colm yeh           10  ...            NaT   8 days behind schedule
 2021-10-21  Colm yeh           11  ...            NaT   4 days behind schedule
 2021-11-04  Colm yeh           12  ...            NaT           due in 10 days
 2021-11-08  Colm yeh           13  ...            NaT           due in 14 days
 2021-11-16  Colm yeh           14  ...            NaT           due in 22 days
 2021-11-26  Colm yeh           15  ...            NaT           due in 32 days
 2021-12-08  Colm yeh           16  ...            NaT           due in 44 days
 2021-12-30  Colm yeh           17  ...            NaT           due in 66 days
 2022-01-03  Colm yeh           18  ...            NaT           due in 70 days
 2022-01-07  Colm yeh           19  ...            NaT           due in 74 days
 2022-01-11  Colm yeh           20  ...            NaT           due in 78 days
 2022-01-23  Colm yeh           21  ...            NaT           due in 90 days
 2022-01-27  Colm yeh           22  ...            NaT           due in 94 days
 2022-02-24  Colm yeh           23  ...            NaT          due in 122 days
 2022-02-28  Colm yeh           24  ...            NaT          due in 126 days
 2022-03-16  Colm yeh           25  ...            NaT          due in 142 days
 2022-03-30  Colm yeh           26  ...            NaT          due in 156 days
 2022-04-21  Colm yeh           27  ...            NaT          due in 178 days
 2022-04-25  Colm yeh           28  ...            NaT          due in 182 days

 [28 rows x 5 columns],
 'Daniel Ross-Leutwyler':                         Full Name  ...    Milestone on Timeness
 Due Date                           ...
 2021-07-23  Daniel Ross-Leutwyler  ...  11 days behind schedule
 2021-07-28  Daniel Ross-Leutwyler  ...   6 days behind schedule
 2021-07-30  Daniel Ross-Leutwyler  ...   4 days behind schedule
 2021-08-03  Daniel Ross-Leutwyler  ...  20 days behind schedule
 2021-08-05  Daniel Ross-Leutwyler  ...  18 days behind schedule
 2021-08-14  Daniel Ross-Leutwyler  ...   9 days behind schedule
 2021-08-16  Daniel Ross-Leutwyler  ...   7 days behind schedule
 2021-08-24  Daniel Ross-Leutwyler  ...  43 days behind schedule
 2021-08-26  Daniel Ross-Leutwyler  ...  41 days behind schedule
 2021-09-02  Daniel Ross-Leutwyler  ...  34 days behind schedule
 2021-09-04  Daniel Ross-Leutwyler  ...  32 days behind schedule
 2021-09-11  Daniel Ross-Leutwyler  ...  25 days behind schedule
 2021-09-13  Daniel Ross-Leutwyler  ...  42 days behind schedule
 2021-09-17  Daniel Ross-Leutwyler  ...  38 days behind schedule
 2021-09-22  Daniel Ross-Leutwyler  ...  33 days behind schedule
 2021-09-28  Daniel Ross-Leutwyler  ...  27 days behind schedule
 2021-10-09  Daniel Ross-Leutwyler  ...  16 days behind schedule
 2021-10-11  Daniel Ross-Leutwyler  ...  14 days behind schedule
 2021-10-13  Daniel Ross-Leutwyler  ...  12 days behind schedule
 2021-10-15  Daniel Ross-Leutwyler  ...  10 days behind schedule
 2021-10-21  Daniel Ross-Leutwyler  ...   4 days behind schedule
 2021-10-23  Daniel Ross-Leutwyler  ...   2 days behind schedule
 2021-11-06  Daniel Ross-Leutwyler  ...           due in 12 days
 2021-11-08  Daniel Ross-Leutwyler  ...           due in 14 days
 2021-11-16  Daniel Ross-Leutwyler  ...           due in 22 days
 2021-11-23  Daniel Ross-Leutwyler  ...           due in 29 days
 2021-12-04  Daniel Ross-Leutwyler  ...           due in 40 days
 2021-12-06  Daniel Ross-Leutwyler  ...           due in 42 days

 [28 rows x 5 columns],
 'Donica Miller':                 Full Name  Milestone #  ... Completed Date    Milestone on Timeness
 Due Date                                ...
 2021-08-21  Donica Miller            1  ...     2021-08-23   2 days behind schedule
 2021-09-05  Donica Miller            2  ...     2021-09-10   5 days behind schedule
 2021-09-11  Donica Miller            3  ...     2021-09-20   9 days behind schedule
 2021-09-23  Donica Miller            4  ...            NaT  32 days behind schedule
 2021-09-29  Donica Miller            5  ...            NaT  26 days behind schedule
 2021-10-26  Donica Miller            6  ...            NaT            due in 1 days
 2021-11-01  Donica Miller            7  ...            NaT            due in 7 days
 2021-11-25  Donica Miller            8  ...            NaT           due in 31 days
 2021-12-01  Donica Miller            9  ...            NaT           due in 37 days
 2021-12-22  Donica Miller           10  ...            NaT           due in 58 days
 2021-12-28  Donica Miller           11  ...            NaT           due in 64 days
 2022-01-18  Donica Miller           12  ...            NaT           due in 85 days
 2022-01-24  Donica Miller           13  ...            NaT           due in 91 days
 2022-02-05  Donica Miller           14  ...            NaT          due in 103 days
 2022-02-20  Donica Miller           15  ...            NaT          due in 118 days
 2022-03-10  Donica Miller           16  ...            NaT          due in 136 days
 2022-04-12  Donica Miller           17  ...            NaT          due in 169 days
 2022-04-18  Donica Miller           18  ...            NaT          due in 175 days
 2022-04-24  Donica Miller           19  ...            NaT          due in 181 days
 2022-04-30  Donica Miller           20  ...            NaT          due in 187 days
 2022-05-18  Donica Miller           21  ...            NaT          due in 205 days
 2022-05-24  Donica Miller           22  ...            NaT          due in 211 days

# KNOWN ISSUES


## INCORRECT DUE DATES FOR STUDENTS THAT CHANGED PACE

- Donica Miller's milestones on Looker do not match her [milestones on guide](https://guide.flatironschool.com/students/c94227c8-d3f8-4b90-bc68-f71fabb48454/milestones)
- I think the column that doesn't match base/guide is the Completed Date column, but that the actual milestones completed is accurate. 

>- **After talking with Mtich Beeb, it seems to be something that is not actually stored in the system but that Mitch calculates.**
- See the  [Curriculum Team's Milestones Guide](https://docs.google.com/document/d/1LsKzSCKSPL7jcnzZG1nmN70FFe7Ro7U79XJV71udbdU/edit?usp=sharing) for where to find the raw milestone data. 
    - milestones.flatironschool.com

In [ ]:
res = get_milestone_report(df, 'Donica')['milestones']
res

[!] Exact match not found for "Donica", using a partial match instead.

                Full Name  Milestone #  ... Completed Date    Milestone on Timeness
Due Date                                ...
2021-08-17  Donica Miller            1  ...     2021-08-23   6 days behind schedule
2021-08-27  Donica Miller            2  ...     2021-09-10  14 days behind schedule
2021-08-31  Donica Miller            3  ...     2021-09-20  20 days behind schedule
2021-09-08  Donica Miller            4  ...            NaT  41 days behind schedule
2021-09-12  Donica Miller            5  ...            NaT  37 days behind schedule
2021-09-30  Donica Miller            6  ...            NaT  19 days behind schedule
2021-10-04  Donica Miller            7  ...            NaT  15 days behind schedule
2021-10-20  Donica Miller            8  ...            NaT            due in 1 days
2021-10-24  Donica Miller            9  ...            NaT            due in 5 days
2021-11-07  Donica Miller           10  ...            NaT           due in 19 days
2021-11-11  Donica Miller           11  ...            NaT           due in 23 days
2021-11-25  Donica Miller           12  ...            NaT           due in 37 days
2021-11-29  Donica Miller           13  ...            NaT           due in 41 days
2021-12-07  Donica Miller           14  ...            NaT           due in 49 days
2021-12-17  Donica Miller           15  ...            NaT           due in 59 days
2021-12-29  Donica Miller           16  ...            NaT           due in 71 days
2022-01-20  Donica Miller           17  ...            NaT           due in 93 days
2022-01-24  Donica Miller           18  ...            NaT           due in 97 days
2022-01-28  Donica Miller           19  ...            NaT          due in 101 days
2022-02-01  Donica Miller           20  ...            NaT          due in 105 days
2022-02-13  Donica Miller           21  ...            NaT          due in 117 days
2022-02-17  Donica Miller           22  ...            NaT          due in 121 days
2022-03-17  Donica Miller           23  ...            NaT          due in 149 days
2022-03-21  Donica Miller           24  ...            NaT          due in 153 days
2022-04-06  Donica Miller           25  ...            NaT          due in 169 days
2022-04-20  Donica Miller           26  ...            NaT          due in 183 days
2022-05-12  Donica Miller           27  ...            NaT          due in 205 days
2022-05-16  Donica Miller           28  ...            NaT          due in 209 days

[28 rows x 5 columns]

- Copied from Guide ojn 09/27/21

```
Cohort Start: 8/9/2021

Projected Completion: 5/30/2022

Cohort Completion: 11/9/2022


Data Science 40 Weeks
Topic 3: ⭐️ Data Serialization Formats - Cumulative Lab
Due: 8/13/2021

Topic 4: ⭐️ EDA with Pandas - Cumulative Lab
Due: 8/18/2021


Topic 5: ⭐️ Pandas Data Cleaning - Cumulative Lab
Due: 9/14/2021


Topic 7: ⭐️ SQL - Cumulative Lab
Due: 9/22/2021
```

In [ ]:
# for i,row in df.iterrows():
#     print('---'*20)
    
#     id = row["Learn UUID"]
#     mstone_url = f"https://guide.flatironschool.com/students/{id}/milestones"
#     notes_url = f"https://guide.flatironschool.com/students/{id}/notes"

#     print(row['First Name'] + " " + row["Last Name"])
#     print(notes_url)
#     print(row['message'])

# APPENDIX - DEVELOPMENT

In [ ]:
raise Exception("Development and Demo Code Below")

Exception: ignored

## Demo Functions WORKFLOW

- Demonstration of indiviudal functions

In [ ]:
# Function to get 1 student's milestone - can do an exact OR partial name match
mstones = get_student_milestones(df,'Daniel',verbose=True)
mstones

In [ ]:
## can also get with date index
mstones_ts = get_student_milestones(df,'Daniel',as_dates=True, verbose=True)
mstones_ts.head(3)

In [ ]:
## get full report 
report = get_milestone_report(df,'Daniel')
report.keys()

In [ ]:
## report of last/next/paste due mielstones
report['report']

In [ ]:
## Example Student
student_name = students_included[0]
generate_detailed_message(df,student_name)

### Approach for Report

- Now that I have the time series verison of the miletones:
    1. Grab the last completed milestone and date completed
    2. Get a list of all milestones from before today that are not completed. 
    3. Grab the next milestone and due date.
    4. Summarize their current progress as how behind/ahead their last completed mstone was

In [ ]:
## get milestones with due date as index
mstones_ts = get_student_milestones(df,'Daniel Ross-Leutwyler',as_dates=True)
mstones_ts.head()

In [ ]:
## Get today as DATE (not date-time)
today = dt.date.today()
today

In [ ]:
## get due before today 
before_today = mstones_ts.loc[:today].copy()
before_today

In [ ]:
## get last_completed
last_mstone= mstones_ts.loc[mstones_ts['Completed Date'].notnull()].tail(1)
next_mstone= mstones_ts.loc[mstones_ts['Completed Date'].isnull()].head(1)

display(last_mstone,next_mstone)

In [ ]:
## get past-due
past_due = before_today.loc[before_today['Completed Date'].isna(), 
                            ['Ordinality','Milestone Name','Milestone on Timeness']]
past_due